# Ignore system files
.DS_Store

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore large/binary data files
*.pt
*.png
*.csv

# Ignore folders, but allow .gitkeep
data/*
models/*
code/__pycache__/*

!data/.gitkeep
!models/.gitkeep
!code/.gitkeep
